header {
    background-color: #244751;
}

body {
    background-color: whitesmoke;
}

main {
    background-color: #9202db;
    padding: 16px;
}

.<class> {}

#<id> {}

.post {
    margin-bottom: 48px;
}
.post .user-info img {
    border-radius: 50%;
}

h1 { text-align: center }











































































































































/* You scrolled for nothing/*
